.modal {
  min-width: 400px;

  .form {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    text-align: left;
  }

  .field {
    width: 100%;
  }

  .buttons {
    display: flex;
    gap: var(--space-lg);
    justify-content: flex-end;
  }

  .formError {
    font-size: var(--font-size-sm);
    color: var(--color-danger);
  }
}
