.modal {
  width: 500px;

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    text-align: left;

    .actions {
      display: flex;
      gap: var(--space-lg);

      > * {
        flex: 1;
      }
    }
  }

  .loadingContainer {
    display: flex;
    justify-content: center;
    padding: var(--space-xl);
  }
}
