.layout {
  display: flex;
  height: 100dvh;
  background-color: var(--color-app-bg);

  .main {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      overflow-y: auto;
    }
  }
}

/* Mobile overrides */
@media (max-width: 48rem) {
  .layout {
    .main {
      width: 100%;
    }
  }
}
