.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding-top: var(--space-md);

  .actions {
    display: flex;
    gap: var(--space-md);

    > * {
      flex: 1;
    }
  }
}
